*~
*.swp
*.swo
*.swn
*.swm
*.swl
*.log
*.bak
*.bk
*.svn
*.db
.~lock*
.DS_Store
Thumbs.db
Desktop.ini
.vim/.netrwhist
.vim/bundle/.cache
.vim/bundle/cache_gvim
.vim/bundle/cache_vim
.vim/bundle/state_vim.vim
.vim/bundle/repos
.vimperator/info
